
.normal {
  text-align: center;
  height: 100%;
  padding: 20vh;
}

.button {
  color: white;
  background-color: rgba(255, 255, 255, 0.159);
  border-radius: 15px;
  border: none;
  height: 60px;
  width: 200px;
  margin: 20px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.425);
}


.input {
  background-color: black;
  border: none;
  height: 30px;
  text-align: center;
  color: white;
}
